<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Breathing Moon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        body {
            margin: 0 !important;
            padding: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #meditationCanvas {
            display: block;
        }
    </style>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous">
</script>
<canvas id="meditationCanvas"></canvas>
<script type="text/javascript" charset="utf-8" > // 
        $(document).ready(function () {

            const meditationCanvas = document.getElementById('meditationCanvas');
            meditationCanvas.width = window.innerWidth;
            meditationCanvas.height = window.innerHeight;
            const ctx = meditationCanvas.getContext('2d');

            const radius_scale = 0.5;
            const screen_size_factor = (meditationCanvas.height / 2100) / 0.5;
            const min_radius = 65 * radius_scale;
            var start_radius = 100 * radius_scale;
            const max_radius = 300 * radius_scale;

            const max_ring_width = 1600  * radius_scale
            const color_change = 0.25;
            const radius_change = 0.6 * radius_scale;

            const max_speed = 2.0;
            const max_speed_exhale = 1.3;
            const acceleration_init = 0.06;

            var speed_client = 0;
            var speed_server = 0;
            var counter = 0;

            var ring_color = "rgba(235,200,235"
            const circle_color = "white"
            
            var time_in_session = -1;
            var timer_on = true;

            var session_duration = 3;
            var start_time = 0;
            var press_time = 0;

            var fullscreen = true;
            var fullscreen_factor = 1;

            user_id = 0;

            var x_pos = meditationCanvas.width / 2;

            var circle_client = {
                x: x_pos,
                y: 0,
                radius: start_radius,
                ring_width: max_ring_width,
            };

            var circle_server = {
                x: x_pos,
                y: 0,
                radius: start_radius,
                ring_width: max_ring_width,
            };

            var num_breaths = 0;
            var num_breaths_at_marker1 = 9999999;
            var num_breaths_at_marker2 = 9999999;
            var num_breaths_at_marker3 = 9999999;
            var num_active;
            var last_event = 'paused';
            var last_event_server = 'paused';

            var mode = 'solo';
            var partner_id = 0

            var start_screen = true;
            var end_screen = false;

            // Connect to the Socket.IO server.
            var socket = io("/");
            console.log(socket)

            function resizeCanvas() {
                meditationCanvas.width = window.innerWidth;
                meditationCanvas.height = window.innerHeight;
                x_pos = meditationCanvas.width / 2;
                circle_client.x = x_pos;
                circle_server.x = x_pos;
            }

            window.addEventListener('resize', resizeCanvas); 

            function createOuterCircle(circle){
                if (mode=="guided" || mode =="solo") {
                    const gradient2 = ctx.createRadialGradient(circle.x, circle.y - circle.radius * screen_size_factor * 2, 0, circle.x, circle.y - circle.radius * screen_size_factor * 2, (circle.radius * 40) * screen_size_factor);
                    if (mode=="guided") {
                        alpha = 0.04
                        scale_factor = 100
                    } if (mode == "solo"){
                        alpha = 0.03
                        scale_factor = circle.radius
                    }
                    gradient2.addColorStop(0, ring_color + ', 0)');
                    gradient2.addColorStop((1 / 24) * (scale_factor/100), ring_color + ', 0)');
                    gradient2.addColorStop((1 / 23.9) * (scale_factor/100), ring_color + ', ' + alpha.toString() + ')');
                    gradient2.addColorStop(1, ring_color + ', ' + alpha.toString() + ')');
                    return gradient2
                } else {
                    const gradient2 = ctx.createRadialGradient(circle.x, circle.y - circle.radius * screen_size_factor * 2, 0, circle.x, circle.y - circle.radius * screen_size_factor * 2, (max_ring_width) * (circle.radius / 150)**2.5 * screen_size_factor);

                    alpha = Math.max(0.002, Math.min(0.14, 0.03 * (circle.radius / 40 - 1.2)))*1.5
                    if (end_screen) {
                        alpha = 0.04
                    }
                    gradient2.addColorStop(0, ring_color + ', ' + alpha.toString() + ')');
                    gradient2.addColorStop(1, ring_color + ', 0)');
                    return gradient2;
                    
                }
                
            }

            function drawOuterCircle(circle) {
                const gradient = createOuterCircle(circle);
                ctx.beginPath();
                if (mode=="guided" || mode =="solo") {
                    ctx.arc(circle.x, circle.y - circle.radius * screen_size_factor * 2, (circle.radius * 40) * screen_size_factor, 0, 2 * Math.PI);
                } else {
                    ctx.arc(circle.x, circle.y - circle.radius * screen_size_factor * 2, (max_ring_width) * (circle.radius / 150)**2.5 * screen_size_factor, 0, 2 * Math.PI);
                }
                ctx.fillStyle = gradient;
                ctx.fill();
            }

            function adjust_image(image, circle, translation_factor, scale_factor = 1) {
                image.style.width = (2 * circle.radius * screen_size_factor * scale_factor).toString() + "px"
                image.style.height = (2 * circle.radius * screen_size_factor * scale_factor).toString() + "px"
                if (mode == "solo") {
                    image.style.left = "calc(50% - " + (circle.radius * screen_size_factor).toString() + "px)"
                }
                if (mode == "pair") {
                    if (Math.sign(translation_factor) > 0) {
                        image.style.left = "calc(50% - " + (circle.radius * screen_size_factor + translation_factor * start_radius * screen_size_factor + Math.sign(translation_factor) * 2 /4 * circle.radius).toString() + "px)"
                        circle.x = x_pos - translation_factor * start_radius * screen_size_factor - Math.sign(translation_factor) * 2 /4 * circle.radius
                    } else {
                        image.style.left = "calc(50% - " + (circle.radius * screen_size_factor + translation_factor * start_radius * screen_size_factor).toString() + "px)"
                        circle.x = x_pos - translation_factor * start_radius * screen_size_factor
                    }
                }
                image.style.top = (circle.y - (2 + scale_factor) * circle.radius * screen_size_factor).toString() + "px"
            }

            function drawRects() {
                const meditationCanvas = document.getElementById('meditationCanvas');
                meditationCanvas.width = window.innerWidth;
                meditationCanvas.height = window.innerHeight;
                const ctx = meditationCanvas.getContext('2d');
                ctx.fillStyle = "rgba(235,200,235,.03)";
                ctx.fillRect(0, 0, window.innerWidth / 2 - window.innerHeight / 3, window.innerHeight)
                ctx.fillRect(window.innerWidth / 2 + window.innerHeight / 3, 0, window.innerWidth / 2 - window.innerHeight / 3, window.innerHeight)
            }

            function animate() {
                ctx.clearRect(0, 0, meditationCanvas.width, meditationCanvas.height);

                if (!start_screen) {
                    
                    if (mode == "solo") {
                        const moon_client = document.getElementById("moon_client");
                        adjust_image(moon_client, circle_client)
                        drawOuterCircle(circle_client);
                    }
                    if (mode=="guided") {
                        const moon_client = document.getElementById("moon_client");
                        const moon2 = document.getElementById("moon2");

                        if (Math.abs(circle_client.radius - circle_server.radius) < 15) {
                            moon2.style.display = "none"
                            moon_client.style.display = ""
                            adjust_image(moon_client, circle_client)
                        } else {
                            moon_client.style.display = "none"
                            moon2.style.display = ""
                            adjust_image(moon2, circle_client)
                        }
                        drawOuterCircle(circle_server);
                    }
                    if (mode == "pair") {
                        const sun_server = document.getElementById("sun_server");
                        const moon_client = document.getElementById("moon_client");
                        adjust_image(moon_client, circle_client, 1.5, 1.0)
                        adjust_image(sun_server, circle_server, -2, 1.1)

                        drawOuterCircle(circle_client);
                        drawOuterCircle(circle_server);
                    }
                    
                }

                if (start_screen) {
                    drawRects()
                }

                if (end_screen && mode == "solo") {
                    drawOuterCircle(circle_client);
                }

                requestAnimationFrame(animate);
            }

            function display_prompt() {
                const instructions2 = document.getElementById("instructions2");
                press_time = (new Date).getTime()
                instructions2.style.display = ""
                instructions2.style.opacity = 1.0
                return (new Date).getTime()
            }

            function end_session() {
                const instructions2 = document.getElementById("instructions2");
                instructions2.style.display = ""
                instructions2.style.opacity = 1.0
                instructions2.textContent = "Meditation complete!"
                toggle_fullscreen("off")
                end_screen = true;
                if (mode == "pair"){
                    socket.emit('leave_room');
                }
            }

            function partner_prompt() {
                const instructions2 = document.getElementById("instructions2");
                display_prompt()
                if (partner_id == 0){
                    instructions2.textContent = "Waiting for someone to join..."
                    instructions2.style.fontSize = "2.8vh"
                } else {
                    instructions2.textContent = "Someone is here!"
                    instructions2.style.fontSize = "3.1vh"
                }
            }

            function verbal_prompt() {
                const instructions2 = document.getElementById("instructions2");
                
                if ((num_breaths == 3 || num_breaths == 4) && !end_screen && mode=="solo") {
                    display_prompt()
                    instructions2.textContent = "Enjoy your meditation!"
                }
                if ((num_breaths == 1 || num_breaths == 2) && mode=="solo") {
                    display_prompt()
                    instructions2.textContent = "Take a deep breath"
                    }
                if (((new Date).getTime() - start_time) / 1000 / 60 > 0.5 * session_duration && num_breaths < num_breaths_at_marker2 && num_breaths > 4 && !end_screen && mode=="solo") {
                    display_prompt()
                    num_breaths_at_marker2 = num_breaths
                    instructions2.textContent = "Halfway done"
                }
                if (((new Date).getTime() - start_time) / 1000 / 60 > session_duration && !end_screen) {
                    end_session()
                }
            }

            function key_down_response(event) {
                if (!last_event.includes('inhale') && !start_screen) {
                    socket.emit('client_keydown', circle_client.radius);
                    num_breaths = num_breaths + 1;
                    last_event = 'inhale'  
                    
                    if (num_breaths==1 || num_breaths==2) {
                        start_time = (new Date).getTime();
                    }
                    
                    if (mode == "solo" || mode == "guided"){
                        verbal_prompt()
                    }
                    if (num_breaths==1 && mode=="guided"){
                        last_event_server = "inhale"
                        speed_server = 0.12
                    }
                    
                    
                }
            }

            function key_up_response(event) {
                if (!last_event.includes('exhale') && !start_screen) {
                    socket.emit('client_keyup', circle_client.radius);
                    num_breaths = num_breaths + 1;
                    last_event = 'exhale'   
                }
            }

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('keydown', (event) => {
                if (event.code === 'Space' || event.code === 'Tab' || event.altKey) {
                    // Prevent default behavior of the spacebar key
                    event.preventDefault();
                }
                if (event.code === 'Esc') {
                    toggle_fullscreen("off")
                } else if (event.altKey) {
                    
                } else {
                    key_down_response(event)
                }

            });
 
            // Add event listener for the "keyup" event on the document object
            document.addEventListener('keyup', (event) => {
                key_up_response(event)
            });

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('mousedown', (event) => {
                key_down_response(event)
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('mouseup', (event) => {
                key_up_response(event)
            });

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('touchstart', (event) => {
                key_down_response(event)
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('touchend', (event) => {
                key_up_response(event)
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('dblclick', (event) => {
                if (!start_screen) {
                    toggle_fullscreen("toggle")
                }
            });

            window.onbeforeunload = function () {
                socket.emit('leave');
            }

            socket.on('assign_user_id', function (msg) {
                user_id = msg;
                console.log("user id")
                console.log(msg)
            });

            socket.on('assign_partner', function (msg) {
                partner_id = msg;
                partner_prompt()
                console.log("partner")
                console.log(msg)
            });

            socket.on('partner_state', function (radius, direction) {
                circle_server.radius = radius
                last_event_server = direction
            });

            function start_session() {
                const instructions = document.getElementById("instructions"); 
                instructions.style.display = "none"

                const instructions2 = document.getElementById("instructions2"); 
                instructions2.style.display = ""

                const header = document.getElementById("header"); 
                header.style.display = "none"

                const line1 = document.getElementById("line1"); 
                line1.style.display = "none"

                const stb = document.getElementById('start-button');
                stb.style.display = "none"

                const gtb = document.getElementById('guided-button');
                gtb.style.display = "none"

                const ttb = document.getElementById('together-button');
                ttb.style.display = "none"

                const moon_client = document.getElementById("moon_client"); 
                moon_client.style.display = ""

                toggle_fullscreen("on")

                start_screen = false;

                mode = "solo"

            }

            function start_session_guided() {

                start_session()

                const instructions2 = document.getElementById("instructions2"); 
                instructions2.textContent = "breathe in"
                // instructions2.style.top = "7vh"

                // circle_client.radius = start_radius * 1.1
                // circle_server.radius = start_radius * 1.1

                mode = "guided"

            }

            function start_session_pair() {

                socket.emit('join_room');

                start_session()

                const sun_server = document.getElementById("sun_server"); 
                sun_server.style.display = ""

                const instructions2 = document.getElementById("instructions2"); 
                instructions2.textContent = "Waiting for someone to join..."
                instructions2.style.fontSize = "2.8vh"

                mode = "pair"
                
            }

            socket.on('assign_user_id', function (msg) {
                user_id = msg;
            });

            function check_value_limits(circle, speed) {
                if (circle.radius > max_radius || circle.radius < min_radius) {
                    speed = 0
                }
                circle.radius = Math.min(circle.radius, max_radius)
                circle.radius = Math.max(circle.radius, min_radius)
                return speed
            }

            function update_inner_circle(circle, speed) {
                circle.radius += radius_change * speed;
            }

            function update_last_event(speed, last_event) {
                if (speed > (0.9*max_speed) && last_event == "inhale") {
                    counter = 0;
                    return "inhale (phase 2)"
                }

                return last_event
            }


            function calculate_speed(last_event, circle, speed) {

                if (last_event == "inhale") {
                        if (speed < 0) {
                            return speed + acceleration_init * 1
                        }

                        return speed + acceleration_init * Math.abs(1 - speed / max_speed)
                }
                if (last_event == "exhale") {
                        if (speed > 0) {
                            return Math.min(-0.5, -max_speed_exhale * Math.min(1, circle.radius / 90))
                        }
                        if (circle.radius > 77){
                            return -max_speed_exhale
                        }
                        return Math.min(-0.08, speed * .987)
                }

                if (last_event.includes("phase 2") && counter < 10){
                    counter = counter + 1;
                    return speed
                }

                if (last_event == "inhale (phase 2)") {
                        return Math.max(0.12, speed*.982)
                }

                if (last_event == "paused") {
                    return 0
                }
                
            }

            function update_text() {
                const text = document.getElementById("instructions2");
                if (text.style.display == "" && ((new Date).getTime() - press_time) > 2000 && !end_screen && num_breaths > 0 && text.textContent != "Waiting for someone to join...") {
                    text.style.opacity = text.style.opacity - 0.005
                    if (text.style.opacity < 0.01) {
                        text.style.display = "none"
                    }
                }
            }

            function update_position() {
                if (fullscreen && !document.fullscreenElement) {
                    fullscreen = false;
                    fullscreen_factor = 1.1
                }
                if (!fullscreen && document.fullscreenElement) {
                    fullscreen = true;
                    fullscreen_factor = 1
                }

                circle_client.y = fullscreen_factor * window.innerHeight * 0.71 - 2.2 * circle_client.radius * screen_size_factor / fullscreen_factor
                if (mode=="guided"){
                    circle_server.y = fullscreen_factor * window.innerHeight * 0.71 - 2.2 * circle_server.radius * screen_size_factor / fullscreen_factor
                }
                if (mode == "pair") {
                    circle_server.y = fullscreen_factor * window.innerHeight * 0.71 - 2.2 * circle_server.radius * screen_size_factor / fullscreen_factor
                }
            }

            function get_robot_event(circle, last_event_server) {

                console.log(circle_server.radius)
                console.log(speed_server)
                console.log("")
                if (circle.radius < start_radius) {
                    return "inhale"
                }
                if (circle.radius > max_radius * 0.755) {
                    return "exhale"
                }

                const instructions2 = document.getElementById("instructions2");
                
                if (circle.radius < start_radius * 1.03 && instructions2.textContent != "breathe in") {
                    display_prompt()
                    instructions2.textContent = "breathe in"
                }

                if (circle.radius > max_radius * 0.755 * 0.90 && instructions2.textContent == "breathe in") {
                    display_prompt()
                    instructions2.textContent = "hold"
                }

                if (circle.radius > max_radius * 0.755 * 0.991 && instructions2.textContent != "breathe out") {
                    display_prompt()
                    instructions2.textContent = "breathe out"
                }

                return last_event_server
            }


            // Update the circle color on each frame
            function update() {

                if (!end_screen && !start_screen) {
                    last_event = update_last_event(speed_client, last_event)
                    speed_client = calculate_speed(last_event, circle_client, speed_client)
                    speed_client = Math.max(speed_client, -max_speed)
                    speed_client = Math.min(speed_client, max_speed)
                    
                    update_inner_circle(circle_client, speed_client)
                    speed_client = check_value_limits(circle_client, speed_client)
                    update_text()

                    if (mode=="guided") {
                        last_event_server = get_robot_event(circle_server, last_event_server)
                        last_event_server = update_last_event(speed_server, last_event_server)
                        speed_server = calculate_speed(last_event_server, circle_server, speed_server)
                        speed_server = Math.max(speed_server, -max_speed)
                        speed_server = Math.min(speed_server, max_speed)
                    
                        update_inner_circle(circle_server, speed_server)
                        speed_server = check_value_limits(circle_server, speed_server)
                    }

                    if (mode=="pair"){
                        last_event_server = update_last_event(speed_server, last_event_server)
                        speed_server = calculate_speed(last_event_server, circle_server, speed_server)
                        speed_server = Math.max(speed_server, -max_speed)
                        speed_server = Math.min(speed_server, max_speed)
                    
                        update_inner_circle(circle_server, speed_server)
                        speed_server = check_value_limits(circle_server, speed_server)
                    }
                }
                update_position()
                
            }

            function toggle_fullscreen(command) {
                if (command == "on" || (command != "off" && !document.fullscreenElement)) {
                    document.documentElement.requestFullscreen();
                    document.documentElement.setAttribute("fullscreen","")

                } else if (document.fullscreenElement){
                    document.exitFullscreen();
                    document.documentElement.removeAttribute("fullscreen"); 
                }
            }

            const start_button = document.createElement("button");
            start_button.setAttribute('id','start-button');
            start_button.setAttribute('class','start-button noselect');
            start_button.textContent = 'zen mode';
            start_button.addEventListener('click', start_session);
            start_button.style.display = ""
            document.body.appendChild(start_button);

            const together_button = document.createElement("button");
            together_button.setAttribute('id','together-button');
            together_button.setAttribute('class','together-button noselect');
            together_button.textContent = 'partner mode';
            together_button.addEventListener('click', start_session_pair);
            together_button.style.display = ""
            document.body.appendChild(together_button);

            const guided_button = document.createElement("button");
            guided_button.setAttribute('id','guided-button');
            guided_button.setAttribute('class','guided-button noselect');
            guided_button.textContent = 'guided mode';
            guided_button.addEventListener('click', start_session_guided);
            guided_button.style.display = ""
            document.body.appendChild(guided_button);

            document.body.style.backgroundImage = `url("{{url_for('static', filename='dusky.jpg')}}")`;

            setInterval(update, 16);

            animate();
        });
</script>
<style>

    .start-button {
        position: absolute;
        top:  48.5vh;
        left: calc(50% - 11.5vh);
        background-image: linear-gradient(to right, rgb(220,207,255) 0%, rgb(200,230,255) 90%);
        border: none;
        opacity: 0.98;
        text-align: center;
        color: rgb(55,80,190);
        /* color: royalblue;  */
        cursor:  pointer;
        border-radius: 1px;
        display: block;
        width:  23vh;
        height:  4.5vh;
        line-height: 0px;
        padding-bottom: 2px;
        font-size: 2.7vh;
        font-family: poppins;
        font-weight: 600;
        box-shadow:
        0px 0px 2px 0px lightcyan;
    }

    .start-button:hover {
        box-shadow:
        0px 0px 5px 0px lightcyan;
        opacity: 1.0;
    }

    .together-button {
        position: absolute;
        top:  43.8vh;
        left: calc(50% - 11.5vh);
        background-image: linear-gradient(to right, rgb(220,207,255) 0%, rgb(200,230,255) 90%);
        border: none;
        opacity: 0.98;
        text-align: center;
        color: rgb(55,75,170);
        /* color: royalblue;  */
        cursor:  pointer;
        border-radius: 1px;
        display: block;
        width:  23vh;
        height:  4.6vh;
        line-height: 0px;
        padding-bottom: 2px;
        font-size: 2.7vh;
        font-family: poppins;
        font-weight: 600;
        box-shadow:
        0px 0px 2px 0px lightcyan;
    }

    .together-button:hover {
        box-shadow:
        0px 0px 5px 0px lightcyan;
        opacity: 1.0;
    }

    .guided-button {
        position: absolute;
        top:  39.0vh;
        left: calc(50% - 11.5vh);
        background-image: linear-gradient(to right, rgb(220,207,255) 0%, rgb(200,230,255) 90%);
        border: none;
        opacity: 0.98;
        text-align: center;
        color: rgb(55,70,160);
        /* color: royalblue;  */
        cursor:  pointer;
        border-radius: 1px;
        display: block;
        width:  23vh;
        height:  4.7vh;
        line-height: 0px;
        padding-bottom: 2px;
        font-size: 2.7vh;
        font-family: poppins;
        font-weight: 600;
        box-shadow:
        0px 0px 2px 0px lightcyan;
    }

    .guided-button:hover {
        box-shadow:
        0px 0px 5px 0px lightcyan;
        opacity: 1.0;
    }


    .hr-style {
    border: 0;
    height: 0.2vh;
    background-image: linear-gradient(to right, rgb(255,255,255, 0.2) 0%, rgba(240,255,255, 0.5) 12%, rgba(240,255,255, 0.8) 40%, rgba(230,220,255, 0.8) 50%,rgba(230,220,255, 0.8) 60%, rgba(247,242,255, 0.5) 88%, rgba(255,255,255, 0.2) 100%);
}

</style>
<style> 
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.grad {
    background-image: linear-gradient(to right, rgb(255,220,255) 0%, rgb(230,252,255) 90%);
    color: transparent;
    background-clip: text;
}
.grad2 {
    background-image: linear-gradient(to right, rgb(220,195,255) 10%, rgb(210,250,255) 90%);
    color: transparent;
    background-clip: text;
}
</style> 
<style>
    body {
      background-size: cover;
      background-repeat:no-repeat;
      background-attachment:fixed;
      background-position:center; 
    }
    br {
    line-height: 200px;
    }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


<body>

        <hr id = "line1" class="hr-style" style="position: absolute; top: calc(.1cm + 9.78vh); left: calc(50% - 4.4em); font-size: 5vh; width: 8.8em; text-align: center;">

        <p class="noselect grad2" id = "header" style="position: absolute; top: calc(1.2vh + .1cm); left: calc(50%-5em); width: 10em; text-align: center; font-size: 5.25vh; font-weight: 600; font-family: poppins;">breathing moon</p>

        <!-- <img class="noselect" id="moon_robot" src="{{url_for('static', filename='moon.png')}}" style=" position: absolute; top: 220px; width: 200px; text-align: center; height: auto; display: none" alt="moon_robot" /> -->

        <img class="noselect" id="moon2" src="{{url_for('static', filename='moon2.png')}}" style=" position: absolute; top: 220px; width: 200px; text-align: center; height: auto; display: none" alt="moon" />

        <img class="noselect" id="sun_server" src="{{url_for('static', filename='titan.png')}}" style=" position: absolute; top: 220px; width: 200px; text-align: center; height: auto; display: none" alt="sun_server" />

        <img class="noselect" id="moon_client" src="{{url_for('static', filename='moon.png')}}" style=" position: absolute; top: 220px; width: 200px; text-align: center; height: auto; display: none" alt="moon_client" />

        <p class="noselect grad" id="instructions" style="position: absolute; top: 18vh; left: calc(50% - 8.4em); width: 16.8em; text-align: justify; text-align-last: justify; font-size: 2.3vh; line-height: 3.6vh; font-family: poppins; font-weight: 400;"><a style = "font-weight: 700;">A relaxing 4-minute meditation</a> Press and hold as you inhale, and then release as you exhale. Enjoy!</p>

        <p class="noselect grad2" id="instructions2" style="position: absolute; top: 6vh; left: calc(50% - 9em); width: 18em; text-align: center; font-size: 3.1vh; opacity: 1.0; font-family: poppins; font-weight: 400; display: none">Take a deep breath</p>

        <p class="noselect" id="instructions3" style="position: absolute; top: 120px; left: calc(50% - 300px); width: 600px; text-align: center; font-size: 32px; line-height: 32px; opacity: 1.0; font-family: poppins; font-weight: 200; color: lightcyan; text-shadow: 0 0 3px lightblue; display: none"></p>
    
        <p class="noselect" id="encourage" style=" position: absolute; top: 390px; left: 180px; width: 20em; text-align: right; font-size: 22px; line-height: 30px; font-family: poppins; color: skyblue"></p>
    

</body>

</html>