<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Breathe Together</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000000;
        }

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #meditationCanvas {
            display: block;
        }
    </style>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous">
</script>

<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var num_breaths = 0
            var timeout_counter = 60000
            var key_code = 32;
            function getRandomInt(max) {
                return Math.floor(Math.random() * max);
            }
            var user_id = getRandomInt(100000000000);
            $('#user_id').append(user_id)


            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io("/", 
            {
                reconnectionDelayMax: 10000, 
                // this is used to keep track of which user has joined
                auth: { id: user_id }
            });
            console.log(socket)


            function timeout(prev_num_breaths) {
                if (prev_num_breaths == num_breaths) {
                    socket.emit('timeout', { data: user_id });
                }
            }

            // keypress thingy
            document.addEventListener("keydown", function (event) {
                if (event.keyCode == key_code) {
                    event.preventDefault();
                    socket.emit('client_keydown', { data: user_id });
                    num_breaths = num_breaths + 1
                    setTimeout(timeout, timeout_counter, num_breaths);
                    
                }
            });

            // keypress thingy
            document.addEventListener("keyup", function (event) {
            if (event.keyCode == key_code) {
                socket.emit('client_keyup', { data: user_id });
            }
            });

            window.onbeforeunload = function () {
                socket.emit('leave', { data: user_id });
            }


            // loop through and update count divs
            socket.on('update_state', function (msg) {
                $('#log').append("<br>" + JSON.stringify(msg));
            });

            // loop through and update count divs
            socket.on('user_connection', function (msg) {
                $('#log').append("<br>" + JSON.stringify(msg));
            });

        });
</script>

<body>
    <font color="green">
    <h2>User: <span id="user_id"></span></h2>
    <h2>Receive:</h2>
    <div id="log"></div>
    </font>
</body>

</html>