<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Synchrony</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000000;
        }

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #meditationCanvas {
            display: block;
        }
    </style>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous">
</script>
<canvas id="meditationCanvas"></canvas>
<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            const meditationCanvas = document.getElementById('meditationCanvas');
            meditationCanvas.width = window.innerWidth;
            meditationCanvas.height = window.innerHeight;
            const ctx = meditationCanvas.getContext('2d');
            const min_radius = 10;
            const min_alpha = 0.1;
            const min_redness = 0;
            const max_radius = 350;
            const max_alpha = 1.0;
            const max_redness = 255;
            const alpha_change = 0.00105;
            const redness_change = 0.375;
            const radius_change = 0.375;
            var speed_factor = 1.0;
            var dot_color = "black"
            initial_state = true;
            const circle = {
                x: meditationCanvas.width / 2,
                y: meditationCanvas.height / 2,
                radius: 70,
                alpha: 0.31,
                redness: 75,
            };

            var num_breaths = 0
            const timeout_counter = 40000
            var last_event = 'up'
            var key_code = 32;
            function getRandomInt(max) {
                return Math.floor(Math.random() * max);
            }
            var user_id = getRandomInt(100000000000);
            $('#user_id').append(user_id)


            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io("/", 
            {
                reconnectionDelayMax: 10000, 
                // this is used to keep track of which user has joined
                auth: { id: user_id }
            });
            console.log(socket)


            function timeout(prev_num_breaths) {
                if (prev_num_breaths == num_breaths) {
                    socket.emit('timeout', { data: user_id });
                }
            }

            function createGradientCircle(circle) {
                const gradient = ctx.createRadialGradient(circle.x, circle.y, 0, circle.x, circle.y, circle.radius);
                gradient.addColorStop(0, `rgba(${circle.redness}, 180, 255, ${circle.alpha})`);
                gradient.addColorStop(1, `rgba(${circle.redness}, 180, 255, 0)`);
                return gradient;
            }

            function drawCircle(circle) {
                const gradient = createGradientCircle(circle);
                ctx.beginPath();
                ctx.arc(circle.x, circle.y, circle.radius, 0, 2 * Math.PI);
                ctx.fillStyle = gradient;
                ctx.fill();
            }

            function animate() {
                ctx.clearRect(0, 0, meditationCanvas.width, meditationCanvas.height);
                drawCircle(circle);
                requestAnimationFrame(animate);
            }

            function key_down_response(event) {
                if (last_event != 'down') {

                    socket.emit('client_keydown', { data: user_id });
                    num_breaths = num_breaths + 1
                    setTimeout(timeout, timeout_counter, num_breaths);

                    last_event = 'down'
                }
            }

            function key_up_response(event) {
                if (last_event != 'up') {
                    socket.emit('client_keyup', { data: user_id });
                    last_event = 'up'
                    }

            }

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('keydown', (event) => {
                if (event.code === 'Space') {
                    // Prevent default behavior of the spacebar key
                    event.preventDefault();
                    key_down_response(event)
                }
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('keyup', (event) => {
                key_up_response(event)
            });

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('mousedown', (event) => {
                key_down_response(event)
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('mouseup', (event) => {
                key_up_response(event)
            });

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('touchstart', (event) => {
                key_down_response(event)
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('touchend', (event) => {
                key_up_response(event)
            });


            window.onbeforeunload = function () {
                socket.emit('leave', { data: user_id });
            }

            // loop through and update count divs
            socket.on('update_state', function (msg) {
                var num_inhaling = msg["inhaling"].length
                var num_exhaling = msg["exhaling"].length
                speed_factor = (num_inhaling - num_exhaling) / (num_inhaling + num_exhaling)
                console.log("Inhales" + num_inhaling.toString() + ", Exhales: " + num_exhaling.toString() + ", Speed: " + speed_factor.toString());
            });

            // loop through and update count divs
            socket.on('user_connection', function (msg) {
                console.log(JSON.stringify(msg));
                const divElement = document.getElementById("num_online"); 
                divElement.textContent = msg.length.toString(); 
            });


            function check_value_limits() {

                if (circle.alpha >= max_alpha) {
                    circle.alpha = max_alpha;
                }
                if (circle.alpha <= min_alpha) {
                    circle.alpha = min_alpha;
                }
                if (circle.redness >= max_redness) {
                    circle.redness = max_redness;
                }
                if (circle.redness <= min_redness) {
                    circle.redness = min_redness;
                }
                if (circle.radius >= max_radius) {
                    circle.radius = max_radius;
                }
                if (circle.radius <= min_radius) {
                    circle.radius = min_radius;
                    
                }
            }


            // Update the circle color on each frame
            function update() {
                if (num_breaths > 0) {
                circle.alpha += alpha_change * speed_factor;
                circle.redness += redness_change * speed_factor;
                circle.radius += radius_change * speed_factor;

                check_value_limits()

                }
            }

            setInterval(update, 16);

            animate();
           

        });
</script>

<body>
    <font color="green">
    <div 
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    id="num_online"></div>
    </font>
</body>

</html>