<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Breathe with Orb</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000000;
        }

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #meditationCanvas {
            display: block;
        }
    </style>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous">
</script>
<canvas id="meditationCanvas"></canvas>
<script type="text/javascript" charset="utf-8" > // 
        $(document).ready(function () {

            const meditationCanvas = document.getElementById('meditationCanvas');
            meditationCanvas.width = window.innerWidth;
            meditationCanvas.height = window.innerHeight;
            const ctx = meditationCanvas.getContext('2d');

            const start_radius = 130;
            const min_radius = 100;
            const fast_radius_start = start_radius;
            const min_redness = 0;
            const fast_radius_end = 200;
            const max_radius = 350;
            const max_redness = 180;

            const max_ring_width = 11
            const max_ring_offset = 10

            const start_redness = 100;

            const redness_change = 0.45;
            const radius_change = 0.6;
            const speed_factor = 1.4;
            const inhale_speed_boost = 1.25;
            const out_of_bounds_slowdown = 3;

            const robot_start = fast_radius_start * 0.9
            const robot_end = fast_radius_end * 1.1

            var speed_multiplier_server = 0;
            var speed_multiplier_client = 0;

            const ring_color_off = [80, 80, 80];
            const ring_color_on = [255, 255, 190];

            // const ob = document.getElementById('orb-button');
            // ob.style.border = "2px solid greenyellow";
            // ob.style.color = "lightgreen";

            user_id = 0;

            var circle_server = {
                x: meditationCanvas.width / 2,
                y: meditationCanvas.height / 2,
                radius: start_radius,
                redness: start_redness,
                outer_radius: start_radius + max_ring_width,
                ring_width: max_ring_width,
                ring_offset: max_ring_offset,
            };

            var circle_client = {
                x: meditationCanvas.width / 2,
                y: meditationCanvas.height / 2,
                radius: start_radius,
                redness: start_redness,
                outer_radius: start_radius + max_ring_width,
                ring_width: max_ring_width,
                ring_offset: max_ring_offset,
                ring_color: ring_color_off,
            };

            var num_breaths = 0;
            const timeout_counter = 15000;
            var num_active;
            var last_client_event = 'none';
            var last_server_event = 'exhale';

            var longest_lockon = 0;
            var current_lockon_duration = 0;
            var locked_on = false;

            var out_of_bounds = false;
            var instructions_present = true;

            display_streak()

            // Connect to the Socket.IO server.
            var socket = io("/");
            console.log(socket)

            function timeout(prev_num_breaths) {
                if (prev_num_breaths == num_breaths) {
                    socket.emit('timeout');
                }
            }

            function createInnerCircle(circle) {
                const gradient = ctx.createRadialGradient(circle.x, circle.y, 0, circle.x, circle.y, circle.radius);
                gradient.addColorStop(0, `rgba(${circle.redness}, 200, 255, 1)`);
                gradient.addColorStop(1, `rgba(${circle.redness}, 200, 255, 0)`);
                return gradient;
            }

            function createOuterCircle(circle){
                const gradient = ctx.createRadialGradient(circle.x, circle.y, 0, circle.x, circle.y, circle.outer_radius);
                ring_color = 'rgba(' + circle.ring_color[0].toString() + ', ' + circle.ring_color[1].toString() + ', ' + circle.ring_color[2].toString();

                gradient.addColorStop(0, ring_color + ', 0)');
                gradient.addColorStop( (circle.radius + circle.ring_offset) / circle.outer_radius, ring_color + ', 0)');
                gradient.addColorStop((1 + (circle.radius + circle.ring_offset) / circle.outer_radius) / 2, ring_color + ', 1)');
                gradient.addColorStop(1, ring_color + ', 0)');
                return gradient;
            }

            function drawInnerCircle(circle) {
                const gradient = createInnerCircle(circle);
                ctx.beginPath();
                ctx.arc(circle.x, circle.y, circle.radius, 0, 2 * Math.PI);
                ctx.fillStyle = gradient;
                ctx.fill();
            }

            function drawOuterCircle(circle) {
                const gradient = createOuterCircle(circle);
                ctx.beginPath();
                ctx.arc(circle.x, circle.y, circle.outer_radius, 0, 2 * Math.PI);
                ctx.fillStyle = gradient;
                ctx.fill();
            }

            function animate() {
                ctx.clearRect(0, 0, meditationCanvas.width, meditationCanvas.height);
                drawInnerCircle(circle_server);
                drawOuterCircle(circle_client);
                requestAnimationFrame(animate);
            }

            function key_down_response(event) {
                if (last_client_event != 'inhale' && !out_of_bounds) {
                    socket.emit('client_keydown');
                    num_breaths = num_breaths + 1;
                    setTimeout(timeout, timeout_counter, num_breaths);
                    last_client_event = 'inhale'
                    if (!instructions_present) {
                       remove_options()
                    }
                }
            }

            function key_up_response(event) {
                if (last_client_event != 'exhale') {
                    socket.emit('client_keyup');
                    num_breaths = num_breaths + 1;
                    setTimeout(timeout, timeout_counter, num_breaths);
                    last_client_event = 'exhale'

                    if (num_breaths == 4) {
                        remove_instructions()
                        remove_options()
                    }
                }

            }

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('keydown', (event) => {
                if (event.code === 'Space') {
                    // Prevent default behavior of the spacebar key
                    event.preventDefault();
                    key_down_response(event)
                }
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('keyup', (event) => {
                key_up_response(event)
            });

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('mousedown', (event) => {
                key_down_response(event)
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('mouseup', (event) => {
                key_up_response(event)
            });

            // Add event listener for the "keydown" event on the document object
            document.addEventListener('touchstart', (event) => {
                key_down_response(event)
            });

            // Add event listener for the "keyup" event on the document object
            document.addEventListener('touchend', (event) => {
                key_up_response(event)
            });

            window.onbeforeunload = function () {
                socket.emit('leave');
            }

            function remove_options() {
                const fb = document.getElementById('fullscreen-button');

                if (fb.style.display == "") {
                    const tib = document.getElementById('timer-button');
                    const ob = document.getElementById('orb-button');
                    const tob = document.getElementById('together-button');
                    const ab = document.getElementById('alone-button');
                    const opt = document.getElementById('options-button');
                    
                    fb.style.display = "none"
                    tib.style.display = "none"
                    ob.style.display = "none"
                    tob.style.display = "none"
                    ab.style.display = "none"

                    opt.style.border = "1px solid rgb(40, 40, 40)"
                }
            }

            function remove_instructions() {
                const instructions_upper = document.getElementById("instructions_upper"); 
                instructions_upper.textContent = ""
                const instructions_lower = document.getElementById("instructions_lower"); 
                instructions_lower.textContent = ""
                const instructions_right = document.getElementById("instructions_right"); 
                instructions_right.textContent = ""

                instructions_present = false;
            }

            function display_streak() {
                const divElement = document.getElementById("streak"); 
                divElement.textContent = "high score: " + longest_lockon.toString()
            }

            socket.on('assign_user_id', function (msg) {
                user_id = msg;
            });

            function display_num_active_users() {
                const num_active_text = document.getElementById("others"); 
                if (num_active == 0) {
                    num_active_text.textContent = "online: just you"
                    num_active_text.style.color = "rgb(70,70,70)"
                } else {
                    num_active_text.textContent = "online: " + (num_active + 1).toString() + " people"
                    num_active_text.style.color = "skyblue"
                }
            }

            socket.on('update_state', function (msg) {
                console.log(JSON.stringify(msg));
                inhaling_users = msg["inhaling"]
                exhaling_users = msg["exhaling"]
                inhaling_users = inhaling_users.filter(inhaling_users => inhaling_users !== user_id);
                exhaling_users = exhaling_users.filter(exhaling_users => exhaling_users !== user_id);
                num_active = inhaling_users.length + exhaling_users.length

                display_num_active_users()
            });

            function check_value_limits(circle) {
                circle.redness = Math.min(circle.redness, max_redness)
                circle.redness = Math.max(circle.redness, min_redness)
                circle.radius = Math.min(circle.radius, max_radius)
                circle.radius = Math.max(circle.radius, min_radius)
            }

            function update_inner_circle(circle, speed_multiplier) {
                circle.redness += redness_change * speed_multiplier;
                circle.radius += radius_change * speed_multiplier;

                check_value_limits(circle)
            }

            function lock_on() {
                if (Math.abs(circle_client.radius - circle_server.radius) < 20) {
                    circle_client.ring_color = ring_color_on;
                    locked_on = true;
                }
                else {
                    circle_client.ring_color = ring_color_off;
                    locked_on = false;
                    current_lockon_duration = 0;
                }
            }

            function update_outer_circle(circle) {
                circle.ring_width = max_ring_width * Math.min(0.75, Math.max(0.25, (1 - circle.radius / max_radius)))
                circle.ring_offset = max_ring_offset * (1 - 5 * circle.radius / max_radius)
                circle.outer_radius = circle.radius + circle.ring_offset + circle.ring_width
                lock_on()
            }


            function calculate_speed(last_event, circle) {
                if (last_event == "inhale") {
                    if (circle.radius > fast_radius_end) {
                        return speed_factor * inhale_speed_boost / out_of_bounds_slowdown;
                }
                    else {
                        return speed_factor * inhale_speed_boost
                    }
                        
                    }
                if (last_event == "exhale") {
                    if (circle.radius < fast_radius_start) {
                        return -speed_factor / (out_of_bounds_slowdown * 1.5)
                    }
                    else {
                        return -speed_factor
                    }
                }
                if (last_event == "tie" || last_event == "none") {
                    return 0
                }
                
            }

            function get_robot_action(last_server_event, circle_server) {
                if (circle_server.radius < (fast_radius_start * 0.9)) {
                    if (locked_on && last_server_event == "exhale") {
                        current_lockon_duration = current_lockon_duration + 1
                        longest_lockon = Math.max(longest_lockon, current_lockon_duration - 1)
                        display_streak()
                    }
                
                    return "inhale"
                }
                if (circle_server.radius > (fast_radius_end * 1.1)) {
                    return "exhale"
                }
                return last_server_event
            }

            // Update the circle color on each frame
            function update() {

                speed_multiplier_client = calculate_speed(last_client_event, circle_client, "client")
                last_server_event = get_robot_action(last_server_event, circle_server)
                speed_multiplier_server = calculate_speed(last_server_event, circle_server)
               

                update_inner_circle(circle_server, speed_multiplier_server)
                update_inner_circle(circle_client, speed_multiplier_client)
                update_outer_circle(circle_client) 

            }

            if (document.fullscreenEnabled) {
                const fullscreen_button = document.createElement("button");
                fullscreen_button.setAttribute('id','fullscreen-button');
                fullscreen_button.setAttribute('class','fullscreen-button button-style noselect');
                fullscreen_button.textContent = 'toggle fullscreen';
                fullscreen_button.addEventListener("click", toggle_fullscreen);
                document.body.appendChild(fullscreen_button);
            }

            function toggle_fullscreen() {
                if (!document.fullscreenElement) {
                    document.body.requestFullscreen();
                    document.body.setAttribute("fullscreen","");
                } else {
                    document.exitFullscreen();
                    document.body.removeAttribute("fullscreen"); 
                }
                toggle_options()
            }

            const options_button = document.createElement("button");
            options_button.setAttribute('id','options-button');
            options_button.setAttribute('class','options-button noselect');
            options_button.textContent = 'options';
            options_button.addEventListener('mouseover', on_options);
            options_button.addEventListener('mouseout', back_in_bounds);
            options_button.addEventListener('click', toggle_options);
            document.body.appendChild(options_button);

            const fb = document.getElementById('fullscreen-button');
            const tib = document.getElementById('timer-button');
            const ob = document.getElementById('orb-button');
            const tob = document.getElementById('together-button');
            const ab = document.getElementById('alone-button');

            fb.addEventListener('mouseover', on_options);
            fb.addEventListener('mouseout', back_in_bounds);
            tib.addEventListener('mouseover', on_options);
            tib.addEventListener('mouseout', back_in_bounds);
            ob.addEventListener('mouseover', on_options);
            ob.addEventListener('mouseout', back_in_bounds);
            tob.addEventListener('mouseover', on_options);
            tob.addEventListener('mouseout', back_in_bounds);
            ab.addEventListener('mouseover', on_options);
            ab.addEventListener('mouseout', back_in_bounds);
            

            function out_of_bounds() {
                out_of_bounds = true;
            }

            function back_in_bounds() {
                out_of_bounds = false;
            }

            function on_options() {
                out_of_bounds = true;
                show_options()
            }

            function toggle_options() {
                const fb = document.getElementById('fullscreen-button');
                const tib = document.getElementById('timer-button');
                const ob = document.getElementById('orb-button');
                const tob = document.getElementById('together-button');
                const ab = document.getElementById('alone-button');
                const opt = document.getElementById('options-button');
                
                if (fb.style.display == "none") {
                    fb.style.display = ""
                    tib.style.display = ""
                    ob.style.display = ""
                    tob.style.display = ""
                    ab.style.display = ""
                    opt.style.border = "1px solid white"       
                } else {
                    fb.style.display = "none"
                    tib.style.display = "none"
                    ob.style.display = "none"
                    tob.style.display = "none"
                    ab.style.display = "none"
                    opt.style.border = "1px solid rgb(40, 40, 40)"
                }

                remove_instructions()   
            }

            function show_options() {
                const fb = document.getElementById('fullscreen-button');
                const tib = document.getElementById('timer-button');
                const ob = document.getElementById('orb-button');
                const tob = document.getElementById('together-button');
                const ab = document.getElementById('alone-button');
                const opt = document.getElementById('options-button');
                
                if (fb.style.display == "none") {
                    fb.style.display = ""
                    tib.style.display = ""
                    ob.style.display = ""
                    tob.style.display = ""
                    ab.style.display = ""
                    opt.style.border = "1px solid white"       
                } 
            }

            setInterval(update, 16);

            animate();
        });
</script>
<style>
    #options-button {
        position: absolute;
        bottom:  30px;
        right:  30px;
        background: rgb(40, 40, 40);
        border-radius: 6px;
        border:  1px solid white;
        opacity: 0.7;
        width:  170px;
        height:  30px;
        color: lightgray;
        font-size: 18px;
        box-sizing: border-box;
        cursor:  pointer;
    }

    #fullscreen-button {
        position: absolute;
        bottom:  60px;
        right:  30px;
        color: white;
    }

    .fullscreen-button:hover {
        background: rgb(70, 70, 70);
    }

    .timer-button {
        position: absolute;
        bottom:  90px;
        right:  30px;
        color: white;
    }

    .timer-button:hover {
        background: rgb(70, 70, 70);
    }

    .alone-button {
        position: absolute;
        bottom:  120px;
        right:  30px;
        color: rgb(150, 220, 255);
    }

    .alone-button:hover {
        background: rgb(70, 70, 70);
    }

    .orb-button {
        position: absolute;
        bottom:  180px;
        right:  30px;
        color: rgb(150, 220, 255);
    }

    .orb-button:hover {
        background: rgb(70, 70, 70);
    }

    .together-button {
        position: absolute;
        bottom:  150px;
        right:  30px;
        color: rgb(150, 220, 255);
    }

    .together-button:hover {
        background: rgb(70, 70, 70);
    }

    .button-style {
        background: rgb(40, 40, 40);
        opacity: 0.7;
        border:  2px solid rgb(40, 40, 40);
        width:  170px;
        height:  30px;
        border-radius: 5px;
        box-sizing: border-box;
        cursor:  pointer;
        text-align: center;
        line-height: 25px;
        font-size: 16px;
        text-decoration: none;
        font-family: Trebuchet MS;
    }

</style>
<style> 
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style> 
<body>
        <p class="noselect" id="streak" style=" position: absolute; bottom: 5px; left: 0; width: 40%; text-align: left; text-indent: 1em; font-size: 26px; color: skyblue"></p>

        <p class="noselect" style=" position: absolute; top: 5px; left: 0; width: 10em; text-align: left; text-indent: 1em; font-size: 26px; color: skyblue">Breathe with Orb</p>

        <p class="noselect" id="others" style=" position: absolute; bottom: 18px; right: 220px; width: 10em; text-align: right; font-size: 18px; font-family: Trebuchet MS;"></p>

        <p class="noselect" id="instructions_upper" style=" position: absolute; top: 100px; left: 0; width: 100%; text-align: center; font-size: 22px; line-height: 30px; font-family: Trebuchet MS; color: green""><b>Instructions: </b>Press and hold as you inhale. Release as you exhale.<br>You can tap the screen, click the mouse, or use the spacebar.</p>

        <p class="noselect" id="instructions_lower" style=" position: absolute; bottom: 120px; left: 0; width: 100%; text-align: center; font-size: 22px; line-height: 30px; font-family: Trebuchet MS; color: green"">Stay synchronized with the Orb to score points.<br>Try to get to 5 points!</p>

        <p class="noselect" id="instructions_right" style=" position: absolute; bottom: 200px; right: 35px; width: 20%; text-align: right; font-size: 18px; line-height: 22px; font-family: Trebuchet MS; color: skyblue">Three modes to try!</p>

    <a id = "together-button" href="together" class='together-button button-style noselect'>breathe together</a>
    <a id = "orb-button" href="" class='button-style orb-button noselect'>breathe with Orb</a>
    <a id = "alone-button" href="alone" class='alone-button button-style noselect'>breathe alone</a>
    <a id = "timer-button" href="" class='timer-button button-style noselect'>toggle timer</a>
    

</body>

</html>